body {
  background-color: #A6A6A6; /* Cor do fundo */
  color: #0D0D0D; /* Cor da fonte */
}

.intro {
  background-color: #D9D9D9; 
}

body {
  width: 800px;
  font-family: Arial, sans-serif; 
}

p {
  text-indent: 1em;
}

h1, h2, h3 {
  text-align: center; 
}

h1 {
  font-size: 1.8rem; 
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem; 
}

.intro {
  text-align: right;
}

.main {
  text-align: center; 
  line-height: 1.5; 
}

abbr {
  font-variant: small-caps; 
}
